<div class="container">
  <div class="row ">
    <div class="col-xs-6 col-lg-4">
      <div class="image-circle">
        <% if @user.id == current_user.id %>
            <%= link_to edit_user_path(@user) do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, class: 'img', fallback: "no_image.jpg" %>
            <% end %>
        <% else %>
            <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, class: 'img', fallback: "no_image.jpg" %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6 col-lg-8">
      <table class='table'>
              <tr>
              	  <td class="user-name">＠<%= @user.name %></td>
                  <td>フォロー数<%= link_to @user.followings.count, user_followings_path(@user) %>人</td>
                  <td>フォロワー数<%= link_to @user.followers.count, user_followers_path(@user) %>人</td>
                  <td>
                    <% if current_user != @user %>
                      <% if current_user.following?(@user) %>
                        <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-primary" %>
                      <% else %>
                        <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn btn-success" %>
                      <% end %>
                      <%= link_to 'チャット', chat_path(@user.id), class: "btn btn-lg btn-primary fas fa-paper-plane" %>
                    <% end %>
                  </td>
              </tr>
              <tr height="240px">
                  <td><%= @user.introduction %></td>
              </tr>
      </table>
    </div>

  </div>
  <h2 class="new_blog">New Post</h2>
  <div class="row">
      <% @post_images.each do |post_image| %>
          <div class="col-lg-3 col-md-6 mb-4">
              <%= link_to post_image_path(post_image.id) do %>
                <%= attachment_image_tag post_image, :image, :fill, 150, 150, class: 'post_img' %>
              <% end %>
            <p><%= post_image.title %></p>
            <p>説明：<%= post_image.caption %></p>
          </div>
      <% end %>

  </div>
  <%= paginate @post_images %>
</div>