<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <div id="chat_message_errors"></div>

      <%= form_with model: @chat do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
        <%= f.submit class: "btn btn-primary " %>
      <% end %>

      <table class= "table table-striped">
        <thead>
          <tr>
            <td>User</td>
            <td>Text</td>
            <td>DateTime</td>
          </tr>
        </thead>
        <tbody id="chat_messages">
          <%= render partial: 'chat_messages', locals: {chats: @chats} %>
        </tbody>
      </table>
    </div>
  </div>
</div>