<div class="container">
  <div class="row post-show">
    <div class="column col-lg-9 col-md-9 col-sm-9">
      <div class="row">
        <div class="col-lg-6">
          <%= attachment_image_tag @post_image, :image, :fill, 400, 400, class: "post_img" %>
        </div>

        <div class="col-lg-6">
          <p>title：<%= @post_image.title %></p>
          <p>text：<%= @post_image.caption %></p>
          <p>@<%= @post_image.user.name %></p>
          <p>day:<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
          <p>閲覧数 : <%= @post_image.impressionist_count %></p>
          <p><% @post_image.tags.each do |tag| %>
          <span class="label"><%= tag.name %></span>
          <% end %></p>
          <p class="AI-message">画像認識によりタグが挿入されます</p>
        <% if @post_image.user == current_user %>
          <%= link_to "記事を削除", post_image_path(@post_image), method: :delete, class: "btn btn-danger" %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="side col-lg-3 col-md-3 col-sm-3">
      <!--　コメントの実装-->
      <div id='post_comment_list'>
        <% @post_image.post_comments.each do |post_comment| %>
          <%= post_comment.created_at.strftime('%Y/%m/%d') %>
          <%= post_comment.user.name %>
          <%= post_comment.comment %>
          <% if post_comment.user == current_user %>
          <p><%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, remote: true, class: "btn btn-danger" %></p>
          <% end %>
        <% end %>
      </div>
      <%= render 'post_comments/post_comment', post_image: @post_image, post_comment: @post_comment %>


      <!-- 戻るボタン -->
      <%= link_to :back do %>
        <button>戻る</button>
      <% end %>
    </div>
  </div>
</div>