<!DOCTYPE html>
<html>
  <head>
    <title>Washoku</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/b6455cb080.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <div
         <%= render 'searches/search' %>
      ></div>
    <%= yield %>
    </main>
     <%= render 'layouts/footer' %>
     
  </body>
</html>
